*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.welcome {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcome span {
  font-size: 3rem;
}
.welcome button {
  margin-top: 2rem;
  width: 10rem;
  padding: 1rem 2rem;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.alert_noti {
  background-color: rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  z-index: 9999;
}
.alert_noti_inner {
  width: 50rem;
  height: 20rem;
}

.hide {
  visibility: hidden;
  opacity: 0;
}
