
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
:root {
  --color1: #ffd154;
  --color2: #002795;
}
body {

}
footer {
  padding: 7px 10px;
  font-size: 14px;
  opacity: 0%;
}
.navigation-box {
  position: absolute;
  display: block;
  top: 0px;
  right: 0px;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 7px;
}
.navigation-item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  z-index: 2;
  background-color: white;
  cursor: pointer;
  transition: 0.5s;
}
.navigation-item span{
  font-size: 14px;
  font-weight: 600;
  color: black;
  transition: 0.5s;
}
.navigation-item:hover {
  background-color: var(--color2);
  border: 3px solid white;
  color: white;
}
.navigation-item:hover > span {
  color: white;
}
.navigation-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: var(--color1);
  z-index: 0;
  border-bottom-left-radius: 30px;
}
.navigation-box .curve {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: var(--color1);
  z-index: 1;
}
.navigation-box .left-curve {
  box-shadow: 10px 10px white;
  transform: translate(6%,-50%);
}
.navigation-box .right-curve {
  box-shadow: -10px 10px white;
  transform: translate(-6%,-50%);
}
.personal-information-box {
  position: relative;
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 10px 7px;
  overflow: hidden;
  text-align: center;
  word-wrap: break-word;
}
.avatar-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.avatar-box img {
  object-fit: cover;
  width: 180px;
  height: 180px;
  border-radius: 50%;
}
.information-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid var(--color2);
  border-radius: 7px;
  margin: 30px 25px;
  height: fit-content;
}
.information-box h1 {
  font-size: 36px;
  font-weight: 900;
}
.information-box h2 {
  font-size: 18px;
  font-weight: 400;
  opacity: 60%;
}
.information-item-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 400;
}
.information-item {
  padding: 5px 5px;
  max-width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.information-item-box i {
  color: var(--color2);
  padding: 5px;
  margin: 0 5px;
  background-color: var(--color1);
  border-radius: 50%;
}
.page-title {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 30px 100px;
  color: var(--color2);
  cursor: default;
}
.page-title h1 {
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 10px;
}
.page-title p {
  font-size: 16px;
  font-weight: 400;
  opacity: 60%;
}
.jobs-box {
  position: relative;
  display: block;
  margin: 0 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.job-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5px 7px;
  padding: 5px 7px;
  background-color: var(--color1);
  border-radius: 10px;
  width: 350px;
}
.job-item img {
  height: 175px;
  width: 175px;
  margin: 5px 7px;
}
.job-item a:nth-child(2) {
  position: relative;
  display: block;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  color: var(--color2);
  padding: 5px 7px;
  border-radius: 5px;
  transition: 0.5s;
}
.job-item:hover > a:nth-child(2) {
  transform: scale(1.1);
}
.job-item:last-child img {
  visibility: hidden;
}

.resume-box {
  position: relative;
  border-top: 2px solid var(--color2);
  margin: 0px 50px;
}
.resume-left-box {
  position: relative;
  display: block;
}
.resume-item {
  margin-bottom: 35px;
  padding-right: 10px;
}
.bachelor-box {
  padding-left: 5px;
  padding-bottom: 7px;
  padding-top: 7px;
}
.resume-item-list {
  padding: 0 15px;
}
.resume-right-box {
  position:relative;
  display: block;
}

.resume-item h1 {
  font-size: 36px;
  font-weight: 900;
  color: var(--color2);
  line-height: 1;
  margin-bottom: 7px;
}
.resume-item h2 {
  font-size: 24px;
  font-weight: 600;
  color: black;
}
.resume-item p {
  font-size: 16px;
  font-weight: 400;
  opacity: 60%;
}
.resume-item .text-justify {
  text-align: justify;
}
.resume-item h3 {
  font-size: 18px;
  font-weight: 600;
  color: var(--color2);
  opacity: 70%;
}
.resume-item h4 {
  font-size: 20px;
  font-weight: 400;
  opacity: 40%;
}
.resume-item li {
  padding: 5px 0;
  color: var(--color2);
  font-size: 16px;
  font-weight: 400;
}
.resume-item li span {
  color: black;
  opacity: 60%;
}
@media screen and (min-width: 992px) {
  .personal-information-box {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 200px;
    grid-gap: 10px;
    margin-left: 100px;
    margin-right: 100px;
  }
  .resume-box {
      display: grid;
      grid-template-columns: 1fr 3fr;
      grid-gap: 10px;
  }
  .resume-left-box {
    border-right: 2px solid var(--color2);
    padding: 10px 7px;
  }
  .resume-right-box {
    padding: 10px 15px;
  }
}
@media screen and (max-width: 991px) {
  .personal-information-box {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
  .resume-box {
    display: flex;
    flex-direction: column;
    margin: 0 50px;
  }
  .resume-left-box {
    padding-top: 10px;
  }
}
