
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
:root {
  --color1: #ffd154;
  --color2: #002795;
}
body {

}
footer {
  padding: 7px 10px;
  font-size: 14px;
  opacity: 0%;
}
.navigation-box {
  position: absolute;
  display: block;
  top: 0px;
  right: 0px;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 7px;
}
.navigation-item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  z-index: 2;
  background-color: white;
  cursor: pointer;
  transition: 0.5s;
}
.navigation-item span{
  font-size: 14px;
  font-weight: 600;
  color: black;
  transition: 0.5s;
}
.navigation-item:hover {
  background-color: var(--color2);
  border: 3px solid white;
  color: white;
}
.navigation-item:hover > span {
  color: white;
}
.navigation-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: var(--color1);
  z-index: 0;
  border-bottom-left-radius: 30px;
}
.navigation-box .curve {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: var(--color1);
  z-index: 1;
}
.navigation-box .left-curve {
  box-shadow: 10px 10px white;
  transform: translate(6%,-50%);
}
.navigation-box .right-curve {
  box-shadow: -10px 10px white;
  transform: translate(-6%,-50%);
}
.personal-information-box {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 200px;;
  grid-gap: 10px;
  width: auto;
  height: auto;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 10px 7px;
  overflow: hidden;
}
.avatar-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.avatar-box img {
  object-fit: cover;
  width: 180px;
  height: 180px;
  border-radius: 50%;
}
.information-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid var(--color2);
  border-radius: 7px;
  margin: 30px 25px;
}
.information-box h1 {
  font-size: 36px;
  font-weight: 900;
}
.information-box h2 {
  font-size: 18px;
  font-weight: 400;
  opacity: 60%;
}
.information-item-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 400;
}
.information-item {
  padding: 0 5px;
  max-width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.information-item-box i {
  color: var(--color2);
  padding: 5px;
  margin: 0 5px;
  background-color: var(--color1);
  border-radius: 50%;
}
.page-title {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 30px 100px;
  color: var(--color2);
  cursor: default;
}
.page-title h1 {
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 10px;
}
.page-title p {
  font-size: 16px;
  font-weight: 400;
  opacity: 60%;
}
.jobs-box {
  position: relative;
  display: block;
  margin: 0 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.job-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5px 7px;
  padding: 5px 7px;
  background-color: var(--color1);
  border-radius: 10px;
  width: 350px;
}
.job-item img {
  height: 175px;
  width: 175px;
  margin: 5px 7px;
}
.job-item a:nth-child(2) {
  position: relative;
  display: block;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  color: var(--color2);
  padding: 5px 7px;
  border-radius: 5px;
  transition: 0.5s;
}
.job-item:hover > a:nth-child(2) {
  transform: scale(1.1);
}
.job-item:last-child img {
  visibility: hidden;
}
